body {
  background-color: #063370;
  color: rgb(82, 82, 82);
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
img {
  width: 200px;
}
/*header stuff*/
header {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  background-color: #063370;
  justify-content: center;
}
.logotext{
  color:aliceblue;
  grid-row: 1/2;
  grid-column: 3/4;
  font-size: 50px;
  justify-self: start;
}
#logo_link {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  margin-right: 10px;
}
.logo {
  width: 100px;
  border-radius: 35px;
}
nav {
  grid-row: 2/3;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
  gap: 50px;
}
.home {
  justify-self: center;
  grid-column: 1/2;
}
.archive {
  justify-self: center;
  grid-column: 2/3;
}
.siteplan {
  justify-self: center;
  grid-column: 3/4;
}
.aboutus {
  justify-self: center;
  grid-column: 4/5;
}
nav ul {
  gap: 10px;
  margin: 0;
  padding: 0;
}
nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: #FFCB09;
}
/*end header stuff*/
footer {
  background-color: aliceblue;
  color: rgb(82, 82, 82);
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}
.socialimg {
  width: 50px;
}
.parenthome {
  display: grid;
  justify-self: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr ;
}
.home1 {
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  display: flex;
}
.img1 {
  width: 120%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.button {
  background-color: #FFCB09;
  width: 250px;
  height: 100px;
  border-radius: 25px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  border-color: #063370;
  border-width: 15px;
}
.button:hover {
  background-color: aliceblue;
}
.home2 {
  grid-row: 2/3;
  background-color: #063370;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  z-index: -2;
}
.home2left {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.img2 {
  justify-self: center;
  position: absolute;
  z-index: -1;
  height: 90%;
  width: inherit;
  margin-top: 1%;
  border-radius: 5px;
  border-color: #FFCB09;
  border-width: 10px;
  border-style: solid;
}
.h2button {
  background-color: #FFCB09;
  width: 250px;
  height: 100px;
  border-radius: 25px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  border-color: #063370;
  border-width: 15px;
  grid-row: 1/2;
  justify-self: center;
  margin-top: 15%;
}
.h2button:hover {
  background-color: aliceblue;
}
.h2p{
  grid-row: 2/3;
  background-color: #345EAF;
  justify-self: center;
  width: 50%;
  height: 50%;
  padding: 15px;
  border-radius: 15px;
  color: aliceblue;
  border-width: 5px;
  border-color: aliceblue;
  border-style: solid;
  margin-top: 0%;
}
.home2right {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.home3 {
  grid-row: 3/4;
  color: aliceblue;
}
.h3title {
  background-color: #345EAF;
  border: #FFCB09;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  margin-left: 4%;
  width: 50%;
  padding: 5px;
}
.h3p {
  background-color: #345EAF;
  border: aliceblue;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  width: 90%;
  margin-left: 4%;
  padding: 5px;
}
button:hover {
  background-color: aliceblue;
}
.archive {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.archivetitle {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.arc1{
  grid-column: 2/3;
  width: 70%;
  margin-left: 10%;
  background-color: #345EAF;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  border-color: #FFCB09;
  border-style: solid;
  border-width: 5px;
  font-size: 40px;
}
.arcimg {
  grid-column: 1/2;
  justify-self: center;
  margin-top: -56%;
  width: 75%;
  margin-left: 7%;
  border: aliceblue;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
}
table {
  margin-top: 10%;
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 3px solid #FFCB09;
      padding: 8px;
      text-align: center;
    }
    tr{
      color: aliceblue;
    }
    th {
      background-color: #063370;
      color: aliceblue;
    }
    tr:nth-child(even) {
      background-color:#345EAF;
    }